# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Main Flow

on:
 push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven

    - name: Push
      run:|
        touch to_delete.txt
        git -A to_delete.txt
        git commit -m "test"
        git push https://x-access-token:${TOKEN}@github.com/jtacopt/qa_java_framework.git
      env:
        TOKEN: ${{secrets.GH_AT}}
